#img-logo {

    width: 5%;
    height: 5%;
    margin-right: 2%;
    margin-left: 2%;

}

#logo-container {

    margin-left: 5%;
    margin-right: 5%;

}


#login {

    margin-top: 10%;
}

#form {

    margin-left: 35%;

}

#card-container {
    
    margin-top: 25%;
    
}

.file {

    margin-top: 10%;
}

.btn-form {

    margin-top: 10%;

}

.profilo {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.profilo .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

@media only screen and (min-width: 601px) {
    .profilo {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .profilo {
        width: 70%;
    }
}

.side {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #48e6ee; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.side a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.side a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.form {

    margin-top: 1%;

}


/* Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .row-cm-mb > div {
        margin-bottom: 20px;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    header {
        padding: 20px 0px;
    }
    nav .container,
    nav .main-nav {
        padding: 0px;
        margin: 0px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    nav .main-nav {
        border-top: 1px solid #fff;
    }
    nav .main-nav li {
        display: block;
        width: 100%;
    }
    nav .main-nav li a {
        font-size: 14px;
        padding: 8px 20px;
    }
}