#img-logo {

    width: 5%;
    height: 5%;
    margin-right: 2%;
    margin-left: 2%;

}

#logo-container {

    margin-left: 5%;
    margin-right: 5%;

}


#login {

    margin-top: 10%;
}

#form {

    margin-left: 35%;

}


.btn-form {

    margin-top: 10%;

}


.form {

    margin-top: 1%;

}